.flexbox {
    padding:20px;
    margin:3px;
    box-sizing: border-box;
    overflow: auto;
    height: calc(100% - 43px);
    display: flex;
}

.contactLeft {
    margin:0 40px;
}

.contactRight {
    width: 100%;
    min-height: 350px;
    height: fit-content;
    border: 3px solid var(--mainColor);
    padding: 20px;
}
.contactRight h1 {
    text-align: center;
}

table {
    width: 100%;
}

input,
textarea {
    resize: none;
    overflow: hidden;
    background: none;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);

}

.contactContent {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.contactContent .contactInputs {
display: flex;
flex-direction: column;
width: 375px;
margin-right:20px
}

.contactContent label {
    display: block;
    margin:0 0 20px 0;
}

.contactInputs input {
    padding: 5px;
    margin-bottom: 15px;
}

.contactContent .contactMessage {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.contactContent .contactMessage .message {
    width: 100%;
}

.contactContent .contactMessage textarea {
    margin-bottom:10px;
}

.contactContent button {
    padding: 3px;
}



@media (max-width:1180px) {
    .flexbox {
        display: block;
    }

    .profile-image {
        display: none;
    }

    .contactLeft {
        border-bottom: 3px solid var(--mainColor);
    }

    .contactRight {
        border: none;
        margin: 0;
    }
}

@media (max-width: 530px) {


    .contactLeft {
        padding-bottom:15px;
    }
    .contactRight {
        text-align: left;
        padding: 10px;
    }
    .contactRight h1 {
        margin:14px 0;
        padding: 0px;
    }
    .contactContent .contactInputs {
        width: 100%;
    }
    textarea {
        width: 203px;
    }
}

@media (max-width:350px) {
    .flexbox {
        padding:10px
    }
    .contactLeft {
        padding: 0px;
        margin:0 0 20px 0;
    }
    .contactLeft tr {
        display: flex;
        flex-direction: column;
    }
    .contactLeft tr::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 3px solid var(--mainColor);
        margin-bottom:10px;
    }
    .contactLeft tr:last-child::after {
        border: none;
    }
    .contactRight {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .contactContent {
        padding: 0px;
    }
}

tr td:first-child {
    padding-right: 25px;
}

tr {
    line-height: 25px;
}

tr td a {
    color: var(--mainColor);
}
