
.box-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 37px);
    overflow: auto;
    justify-content: space-between;
    background-color: #000000;
    border: 3px solid #000;
}

.box {
    width:300px;
    padding:10px;
    text-align: right;
}
.box h2 {
    text-align: center;
}

.refBoxImage {
    height: 100px;
    border-radius: 10px;
    background-color:var(--mainColor);
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px

}


.box-content {
    height:200px;
    position: relative;
    border: 2px solid var(--mainColor);
    text-align: left;
    padding: 10px;
}
.box-content p {
    text-align: left;
}

.box button {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    background: var(--mainColor);
    color: black;
    box-shadow: 0 0 5px var(--mainColor);
    margin: 15px;
}

#gameSubWindow {

    position: absolute;
    height: auto;
    visibility:hidden;
    top: 37px;
    border: 3px solid #000000;
    background-color: #000000;
    width: calc(100% - 236px);
    overflow: auto;
}
#gameListWindow {
    position: absolute;
    top:0;
    width:100%;
    height: 0;
    overflow: hidden;
}
#gameHeader {
    width: 100%;
    background-color: var(--mainColor);
    position: absolute;
    top:0px;
    height:37px;
    color:#000000
}
#gameWindow {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top:43px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    zoom: .8;
}






@media (max-width:1170px) {
    .box-list {
        flex-wrap: wrap;
    }
}
@media (max-width:960px) {
    #gameSubWindow {
        width: 100%;
    }
    #gameSubWindow > ::-webkit-scrollbar-thumb {
        border-left: 4px solid black;
    }
}

@media (max-width:670px) {
    .box-list {
        flex-direction: row;
    }
    .box {
        width:100%
    }
}

@media (max-width: 530px) {
    .box img {
        max-width: 100%;
        max-height: 170px;
    }
}
@media (max-width:350px) {
    .headers {
        font-size: 20px;
    }
    .otherList tr th:nth-child(2),
    .otherList tr td:nth-child(2),
    .otherList tr th:last-child,
    .otherList tr td:last-child {
        display: none;
    }
}
