@font-face {
    font-family: 'digital';
    src: url("digital.ttf");
}

:root{
    --widthPanel: 550px;
    --heightPanel: 580px;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas'
}
*:focus{ outline-width: 0;}
body{
    margin:0;
    background-image: url('../src/bg.jpg');
    background-color: #222;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    box-shadow: 5px 5px 20px #000000;
    border-radius: 20px;
}
content{
    background-color: transparent;
    display:block;
    height:var(--heightPanel);
    width:var(--widthPanel);
    min-width: 360px;
    border-radius: 20px;
    padding:15px;
    position: relative;
    box-shadow: inset 5px 5px 20px #424242;
}
.contentBG{
    position: absolute;
    top:0;
    left:0;
    height:var(--heightPanel);
    width:var(--widthPanel);
    background-color: #131313;
    box-shadow: inset -10px -10px 15px #000000;
    border-radius: 20px;
    z-index: -1;
}
content div {
    overflow: hidden;
}
#message{
    font-family: 'digital';
    background-color: #0c0c0c;
    padding: 15px 0;
    border-radius: 5px;
    border:5px solid #000000;
    margin: 30px auto;
    width: 90%;
    font-size: 42px;
    text-align: center;
    letter-spacing: 8px;
    color: #1fbe10;
    text-shadow: 0 0 15px #1fbe10;
}
#forms{
    margin-left:30px;
    position: relative;
}
#one{
  margin-left:50px;
}
input{
    width: 40px;
    height: 60px;
    background-color: #0c0c0c;
    border:5px solid #000000;
    color: #FFFFFF;
    font-family: 'digital';
    font-size: 25px;
    padding: 5px;
    cursor: text;
}
button{
    font-weight: bold;
    font-size: 16px;
    height: 80px;
    width:80px;
    border-radius: 100px;
    cursor: pointer;
    margin:10px 20px;
}
.buttons{
    height: 240px;
    width: 140px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: 30px;
    
}
#submit{
    background-color: transparent;
    border: 4px solid #adff2f;
    color: #adff2f;
}
#reset{
    background-color: transparent;
    border: 4px solid #ff2f2f;
    color: #ff2f2f;
    height: 60px;
    width: 60px;
}
#help, #mail{
    width:40px;
    height:40px;
    margin:5px;
    background-color: #363636;
    color: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 1);
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.5);
}
#stat{
    position: absolute;
    right: 30px;
    bottom: 35px;
    background-color: #0c0c0c;
    border:5px solid #000000;
    padding:10px;
}
#helpText, #win, #feedback, #difficulty{
    display:none;
    width:90vw;
    max-width: 600px;
    position: absolute;
    text-align: justify;
    z-index: 1;
    margin:0vh auto;
    background-color: #131313;
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
}
#difficulty{
    width: 350px;
    display: inline;
    justify-content: center;
    align-items: center;
}
#difficulty div{
    text-align: center;
    background-color: #0c0c0c;
    border: 5px solid #000000;
    padding: 20px;
    margin:20px;
}
#feedback input, #feedback textarea{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display:block;
    margin: 20px;
    padding:15px;
    background-color: transparent;
}
#feedback input{
    font-family: 'consolas';
    width:300px;
    height: 30px;
    font-size: 16px;
}
.closeX{
    border:2px solid #FFFFFF;
    float:right;
    cursor: pointer;
    padding: 0px 5px;
}
textarea{
    font-size: 16px;
    color: #FFFFFF;
    resize: none;
    background-color: transparent;
}
p{
    padding:10px 0;
}
#helpText button, #win button, #formSubmit{
    float: right;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}
#easy, #normal, #hard{
    cursor: pointer;
}
#easy:hover, #normal:hover, #hard:hover{
    text-decoration: underline;
}
#diffiText{
    cursor: pointer;
    text-decoration: underline;
}
.helpDiffi div h3{
    width:50%;
    margin: 10px;
    text-align: center;
    border: 2px solid #FFFFFF
}
#tip-count{
    position:absolute;
}

#tip-count div{
    font-family: 'digital';
    width: 100%;
    height:25px;
    text-align: center;
    font-size: 26px;
    margin: 10px 0px;
}
#tip-col-1{
    margin-left: 50px;
}

#tip-count, #tip-col-1, #tip-col-2, #tip-col-3, #tip-col-4, #tip-col-5{
    display: inline-block;
    height: 290px;
    width: 40px;
    background-color: #0c0c0c;
    border:5px solid #000000;
    margin-top:10px;
}

#tip-col-1 div, #tip-col-2 div, #tip-col-3 div, #tip-col-4 div, #tip-col-5 div{
  height: 25px;
  width: 25px;
  border-radius: 10px;
  color: red;
  margin: 15px auto;
  font-family: 'digital';
  text-align: center;
  font-size: 25px;
} 

@media only screen and (max-width:600px) {
    body{
      background-image:none;
      display: block;
    }
    main{
      box-shadow: none;
      border-radius: none;
      
    }
    content,#helpText, #feedback{
        width: 100vw;
        height: 100vh;
        margin:0;
        border:none;
        border-radius:0;
        box-shadow: none;;

    }
    .contentBG{
        display:none;
    }
    #forms{
        margin-left:0;
    }
    .buttons{
        float:left;
        width:200px;
        height: 100px;
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
        flex-wrap: wrap;
        margin-top:20px;
        position: initial;
    }
    #stat{
        float: none;
        position: initial;
        margin-top: 20px;
    }
    #submit, #reset, #help, #mail{
        margin:0;
        height:40px;
    }
    #email, #formText{
        max-width:70vw;
    }
    #difficulty{
        height: 100vh;
        width:100vw;
        display: none;
        padding: 35vh 30px;
        border-radius: 0;
        border: none;
    }
  }